.table__out {
  /* border: 2px solid #ff9e1b;
  border-radius: 3px; */
  overflow-x: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 10px;
  margin: 10px;
}

.table__edit,
.table__delete {
  color: #ff9e1b;
}

@media (min-width: 700px) {
  .table__out {
    max-width: 100%;
  }
}
