.sidebar {
  padding: 20px 20px;

  flex: 0.1;
  background: #ff9e1b;
  height: auto;
  margin-bottom: -101%;
  overflow-x: hidden;
}

/* .sidebar img {
  height: 80px;
  margin: 80px 90px;
} */

/* .sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 15vh;
  position: relative;
  background: #ff9e1b;

  width: 100vw;
} */

.sidebar img {
  height: 20px;
  padding: 0;
  padding-left: 5px;
  margin: 40px 0px;
}

/* @media (min-width: 490px) {
  .sidebar {
    flex: 0.1;
  }
  .sidebar img {
    height: 20px;
    margin: 30px 10px;
  }
} */

/* @media (min-width: 600px) {
  .sidebar {
    flex: 0.1;
  }
  .sidebar img {
    height: 30px;
    margin: 30px 40px;
    margin-right: 50px;
  }
} */

@media (min-width: 700px) {
  .sidebar {
    flex: 0.1;
  }
  .sidebar img {
    height: 40px;
    margin: 30px 20px;
  }
}
